
@model List<Income>

@{

    ViewBag.Title = "My Income";
}

<h2> My Income</h2>
<input type="month" />
<a asp-controller="Functionality" asp-action="AddIncome">Add New Income</a>
<table class="table table-bordered table-hover table-primary">
    <thead>
        <tr>
            <th> Income Resources</th>
            <th>Amount</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var income in Model)
        {
            <tr>
                <td>@income.IncomeSource</td>
                <td>@income.Amount</td>
                <td>@income.IncomeMonth</td>
                <td>
                    <a asp-controller="Functionality" asp-action="EditIncome" asp-route-id="@income.IncomeID">Edit</a>
                    <a asp-controller="Functionality" asp-action="DeleteIncome" asp-route-id="@income.IncomeID">Delete</a>
                </td>
            </tr>

        }
        <tr class="font-weight-bold">
            <td> Total</td>
            <td> @Model.Sum(i=>i.Amount)</td>         
            <td></td>
            <td></td>

        </tr>
    </tbody>
</table>





